*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "result cites";
  align-items: end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.result {
  grid-area: "result";
  width: 711px;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 225px;
  color: #fff;
  background: none;
  border: 1px solid white;
  border-left: 1px solid rgba(0, 0, 0, 0); /*при нажатие на поле не будет сдвига, но если использовать border:none; он появится при клике*/
  border-right: 1px solid rgba(0, 0, 0, 0); /*при нажатие на поле не будет сдвига, но если использовать border:none; он появится при клике*/
  appearance: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__details {
  grid-area: "cites";
  width: 399px;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__list-container {
  position: relative;
  max-height: 299px;
  overflow-y: scroll;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  max-width: 390px;
}

.content__list-item {
  width: 390px;
}

.content__video-card-description-container {
  width: 196px;
  flex-grow: 2;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.result__video {
  object-fit: cover;
  width: 100%;
}

.button {
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: none;
  border: solid 1px #fff;
  color: #fff;
  padding: 6px 0;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.more-button {
  width: 390px;
  margin-top: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset,
button {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label:has(.search-form__checkbox):has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:hover {
  cursor: text;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item:focus,
.search-form__label:has(.search-form__checkbox):focus {
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}
